<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Cause</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">

       <link href="css/bootstrap-icons.css" rel="stylesheet">

       <link href="css/templatemo-kind-heart-charity.css" rel="stylesheet">

</head>
<body>
    
        <div class="container" style="margin-top:2% ;">
            <div class="row">

                <div class="col-lg-12 col-12 text-center mb-4">
                    <h2>Our Causes</h2>
                </div>

                <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                    <div class="custom-block-wrap">
                        <img src="images/news/africa-humanitarian-aid-doctor.jpg" class="custom-block-image img-fluid" alt="">

                        <div class="custom-block">
                            <div class="custom-block-body">
                                <h5 class="mb-3">Medication Adherance</h5>
                                <p>Medication non-adherence is a significant public health issue, leading to increased hospitalizations and healthcare costs. Approximately 50% of patients do not take their medications as prescribed, often due to forgetfulness or confusion regarding dosage schedules. 
                                </p>


                                <div class="progress mt-4">
                                    <div class="progress-bar w-75" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>

                                <!-- <div class="d-flex align-items-center my-2">
                                    <p class="mb-0">
                                        <strong>Raised:</strong>
                                        $18,500
                                    </p>

                                    <p class="ms-auto mb-0">
                                        <strong>Goal:</strong>
                                        $32,000
                                    </p>
                                </div> -->
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                    <div class="custom-block-wrap">
                        <img src="images/first.jpg" class="custom-block-image img-fluid" alt="">

                        <div class="custom-block">
                            <div class="custom-block-body">
                                <h5 class="mb-3">Nortification and Reminder</h5>
                                <p>Medware: A Solution for Medicine Management and Adherence

                                    Medware is a website that helps people manage their medications and improve their adherence. It provides a variety of features, like:
                                    
                                    Medication reminders: Medware will send you reminders to take your medication on time.</p>


                                <div class="progress mt-4">
                                    <div class="progress-bar w-100" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>

                                <!-- <div class="d-flex align-items-center my-2">
                                    <p class="mb-0">
                                        <strong>Raised:</strong>
                                        $27,600
                                    </p>

                                    <p class="ms-auto mb-0">
                                        <strong>Goal:</strong>
                                        $60,000
                                    </p>
                                </div> -->
                            </div>

                                                    </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-12">
                    <div class="custom-block-wrap">
                        <img src="images/news/close-up-happy-people-working-together.jpg" class="custom-block-image img-fluid" alt="">

                        <div class="custom-block">
                            <div class="custom-block-body">
                                <h5 class="mb-3">Medication Identification</h5>
                                <p>MedBuddy chatbot is designed to solve your everyday problem which user might find like uses of medicines, it's dosage, medicine recommendation and many more.Have any doubts, no worries medbuddy is there for your help. Solutions to your all problems are just a click away.
                                </p>


                                <div class="progress mt-4">
                                    <div class="progress-bar w-100" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>

                                <!-- <div class="d-flex align-items-center my-2">
                                    <p class="mb-0">
                                        <strong>Raised:</strong>
                                        $84,600
                                    </p>

                                    <p class="ms-auto mb-0">
                                        <strong>Goal:</strong>
                                        $100,000
                                    </p>
                                </div>
                            </div> -->

                        </div>
                    </div>
                </div>

            </div>
            
        </div>
        <!-- <a href="\main.html" class="custom-btn btn" style="margin-left: 50%;">Donate now</a> -->

        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.sticky.js"></script>
        <script src="js/click-scroll.js"></script>
        <script src="js/counter.js"></script>
        <script src="js/custom.js"></script>

</body>
</html>